---
layout: default
title: index
permalink: index
--- 
<div id="latest" class="carousel slide latest-slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for carousel in site.carousel %}
                {% if forloop.first == true%} 
                    {% assign active = "active" %}
                {% else %}
                    {% assign active = "" %}
                {% endif %}
                <div class="item {{ active }}">
                    <img class="img-responsive" src="{{ carousel.image_link }}">
                </div>
            {% endfor %}
        </div>
        <ol class="carousel-indicators">
            {% for carousel in site.carousel %}
                {% if forloop.first == true%} 
                    {% assign active = "active" %}
                {% else %}
                    {% assign active = "" %}
                {% endif %}
                <li data-target="#latest" data-slide-to="{{ forloop.index0 }}" class="{{ active }}"></li>
            {% endfor %}
        </ol>
    </div>
    <div class="container">
        <div class="row">
            <p class="latest col-md-12">Latest Project</p>
        </div>
        <div class="row">
            {% for post in site.posts %}
            <div class="col-md-4">
                <figure class="latest-figure">
                    <img class="img-responsive latest-image" src="{{post.featured-image}}">
                    <p class="latest-title"><a href="{{post.url}}">{{post.title}}</a></p>
                    <p class="latest-created-date">{{post.date | date_to_long_string}}</p>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="viewmore">
        <div class="container">
            <div class="row">
                <a href="#" class="viewmore-link col-md-12 col-sm-12 col-xs-12">View More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="testimoni col-md-12">Testimoni</p>
            <div id="testimoni" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for testi in site.testimoni %}
                        {% if forloop.first == true%} 
                            {% assign active = "active" %}
                        {% else %}
                            {% assign active = "" %}
                        {% endif %}
                        <div class="item {{active}}">
                            <div class="container">
                                <figure class="testimoni-figure">
                                    <img class="testimoni-figure-image" src="{{ testi.photo }}">
                                    <p class="testimoni-figure-name">{{ testi.name }}</p>
                                    <p class="testimoni-figure-occupation">{{ testi.occupation }}</p>
                                    <p class="testimoni-figure-text">{{ testi.testimonial }}</p>
                                </figure>
                            </div>
                        </div>
                    {% endfor%}
                </div>
                <a class="left carousel-control" href="#testimoni" data-slide="prev"><img class="carousel-control-img" src="./assets/img/BUTTON-PREVIOUS.png"></a>
                <a class="right carousel-control" href="#testimoni" data-slide="next"><img class="carousel-control-img" src="./assets/img/BUTTON-NEXT.png"></a>
            </div>
        </div>
    </div>