<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-row">
      <div class="footer-col-1">
        <h2 class="footer-heading">c. 2016 Elmurales</h2>  
      </div>
      <div class="footer-col-2">
        <ul class="footer-link">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li> 
        </ul>
        <p class="footer-social-header">Follow and Subscribe</p>
        <ul class="footer-social">
          <li><a href="#"><img src="/assets/site/ICON-INSTAGRAM.png"></a></li>
          <li><a href="#"><img src="/assets/site/ICON-YOUTUBE.png"></a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
