---
---
@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "../fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

@include font-face('FuturaBKBTBook', 'futura_bk_bt_book-webfont', 'Futura', 'sans');
@include font-face('FuturaBKBTBookItalic', 'futura_bk_bt_book_italic-webfont', 'Futura', 'sans');
@include font-face('FuturaHVBT', 'futura_heavy_bt-webfont', 'Futura', 'sans');

$red: #c1272d;
$black: #000;
$white: #fff;
$dark-grey: #4d4d4d;
$light-grey: #e6e6e6;

.navbar {
  margin-bottom: 0;

  &.navbar-elmurales {
    background-color: $black;
    border-radius: 0;
    padding: 5px 0;
  }

  .navbar-header {
    .navbar-brand {
      padding: 10px 15px;
    }

    .navbar-toggle {
      .icon-bar {
        background-color: $white;
      }
    }
  }
}

.xs-menu {
  text-align: center;
  color: $white;
  font-size: 20px;
}

.menu-burger {
  margin: 13px 15px;
  cursor: pointer;
}

.menu {
  padding-top: 50px;
  position: fixed;
  top: 60px;
  background-color: $black;
  width: 100%;
  height: 100%;
  z-index: 15;
  font-family: 'FuturaHVBT';
  ul {
    text-align: center;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a {
        color: $white;
        font-size: 50px;
        vertical-align: 10px;

        &:hover {
          color: $red;
          text-decoration: none;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .footer-copyright-menu {
    font-size: 20px;
    margin-top: 15%;
    color: $white;
  }
}

%latest {
  font-size: 25px;
  margin: 20px 0;
  text-align: center;
  font-family: 'FuturaBKBTBook';
}

.latest {
  @extend %latest;
}

.latest-figure {
  border-bottom: 1px solid $black;
  margin-bottom: 20px;

  .latest-title {
    font-size: 25px;
    font-family: 'FuturaHVBT';
    min-height: 120px;
  }

  .latest-created-date {
    color: $dark-grey;
    margin-bottom: 10px;
    font-family: 'FuturaBKBTBook';
  }
}

.viewmore {
  background-color: $light-grey;
  padding: 20px 0;
  font-family: 'FuturaBKBTBook';

  a {
    text-align: center;
  }

  &-link {
    color: $black;
    font-size: 20px;
    margin-bottom: 0;


    &:hover {
      color: $red;
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }
  }

}

.testimoni {
  @extend %latest;
}

.testimoni-figure {
  margin-bottom: 40px;
  text-align: center;

  &-image {
    border-radius: 100%;
    height: 150px;
    margin: auto 0;
    width: 150px;
  }

  &-name {
    font-size: 20px;
    font-family: 'FuturaHVBT';
    margin-bottom: 0;
  }

  &-occupation {
    color: $dark-grey;
    font-family: 'FuturaBKBTBookItalic';
  }

  &-text {
    font-size: 17px;
    margin: 10px auto 0;
    width: 80%;
    font-family: 'FuturaBKBTBook';
  }
}

.footer {
  background-color: $black;
  color: $white;
  padding: 30px 0;

  &-copyright {
    font-size: 20px;
    font-family: 'FuturaBKBTBook';
    span {
      font-family: 'FuturaHVBT';
    }
  }

  &-link {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'FuturaBKBTBook';

    a {
      color: $white;

      &:hover {
        color: $red;
        text-decoration: none;
      }
      &:visited {
        text-decoration: none;
      }
    }
  }

  &-social {
    margin-top: 20px;

    &-title {
      font-size: 15px;
      font-family: 'FuturaBKBTBook';
    }

    &-link {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

.carousel-control {
  &.left {
    background-image: none;
  }

  &.right {
    background-image: none;
  }
}

.carousel-indicators {
  li {
    background-color: $white;
    border: 2px $white solid;

    &.active {
      background-color: transparent;
      border: 2px $black solid;
    }
  }
}

.carousel-control-img {
  margin-top: 230px;
}

// About
.about {
  margin: 173px 0;

  .about-figure {
    margin-bottom: 50px;
    text-align: center;

    .about-figure-image {
      border-radius: 100%;
      height: 150px;
      width: 150px;
    }
  }

  .about-title {
    font-size: 25px;
    font-family: 'FuturaHVBT';
    text-align: center;
  }

  .about-desc {
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
    font-family: 'FuturaBKBTBook';
    width: 80%;
  }

}

.back-home {
  background-color: $light-grey;
  margin: 55px 0;

  &-button {
    margin: 0;
    padding: 10px 0;
    text-align: center;


    li {
      display: inline-block;
      padding: 0 5px;
    }

    a {
      color: $black;
      font-family: 'FuturaBKBTBook';

      &:hover {
        color: $red;
        text-decoration: none;
      }

      &:visited {
        text-decoration: none;
      }
    }
  }
}

// CONTACT
.contact {
  @extend .about;
  margin-bottom: 50px;

  .contact-figure {
    @extend .about-figure;

    .contact-figure-image {
      @extend .about-figure-image;
    }
  }

  .contact-title {
    @extend .about-title;
  }

  .contact-address {
    text-align: center;
    font-size: 25px;
    .contact-address-item {
      font-family: 'FuturaHVBT';
      span {
        font-family: 'FuturaBKBTBook';
      }
    }
    .contact-address-item-country {
      font-family: 'FuturaBKBTBook';
      margin-top: 80px;
    }
  }
}

// LATEST PROJECT
.latest-page {
  @extend .latest;
  margin-top: 80px;
}

// TESTIMONI
.testimoni-page {
  @extend .testimoni;
  margin-top: 173px;
  margin-bottom: 130px;
  .testimoni-figure-occupation {
    color: $dark-grey;
    font-family: 'FuturaBKBTBookItalic';
  }
}

// POST
.post {
  margin-top: 80px;
  &-date {
    color: $dark-grey;
    margin-bottom: 10px;
    font-family: 'FuturaBKBTBook';
    font-size: 18px;
  }
  &-title {
    font-size: 50px;
    font-family: 'FuturaHVBT';
    color: $black;
    margin-bottom: 0;
  }
  &-place {
    font-size: 25px;
    font-family: 'FuturaBKBTBook';
    color: $dark-grey;
  }
  &-size-label{
    font-family: 'FuturaHVBT';
    color: $black;
    margin-bottom: 0;
    font-size: 18px;  
  }
  &-size-value{
    font-family: 'FuturaBKBTBook';
    color: $dark-grey;
    font-size: 18px;  
  }
}

