<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}

<body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
        <div class="hilite"></div>
        <div class="wrapper">
            {{ content }}
        </div>
        <div class="view-more">
            <div class="wrapper">
                <a href="#">View More</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="testimoni">
                <h1 class="page-heading">Testimoni</h1>
                <figure class="testi-figure">
                  <img class="testi-img" src="/assets/testi/johndoe.jpg">
                  <figcaption class="testi-info">
                    <p class="testi-name">John Doe</p>
                    <p class="testi-job">film maker</p>
                    <p class="testi-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                  </figcaption>
                </figure>
            </div>
        </div>
    </main>
    {% include footer.html %}
</body>

</html>
