--- 
layout: default 
---

<div class="container">
    <div class="row">
        <div class="post">
            <p class="post-date">{{page.date | date_to_long_string}}</p>
            <p class="post-title">{{page.title}}</p>
            <p class="post-place">{{page.place}}</p>
            <p class="post-size-label">Size:</p>
            <p class="post-size-value">{{page.size}}</p>
            <figure>
                <div id="carousel-post-galleries" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in page.galleries %}
                            {% if forloop.first == true%} 
                                {% assign active = "active" %}
                            {% else %}
                                {% assign active = "" %}
                            {% endif %}
                            <li data-target="#carousel-post-galleries" data-slide-to="{{forloop.index0}}" class="{{active}}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {% for image in page.galleries %}
                            {% if forloop.first == true%} 
                                {% assign active = "active" %}
                            {% else %}
                                {% assign active = "" %}
                            {% endif %}
                            <div class="item {{ active }}">
                                <img class="img-responsive" src="{{ image.image-link }}">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-post-galleries" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-post-galleries" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </figure>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="latest-page col-md-12">Latest Project</p>
    </div>
    <div class="row">
        {% for post in site.posts %}
        <div class="col-md-4">
            <figure class="latest-figure">
                <img class="img-responsive latest-image" src="{{post.featured-image}}">
                <p class="latest-title"><a href="{{post.url}}">{{post.title}}</a></p>
                <p class="latest-created-date">{{post.date | date_to_long_string}}</p>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>
<div class="back-home">
    <div class="container">
        <div class="row">
            <ul class="back-home-button">
                <li><img src="{{ "/assets/img/BUTTON-PREVIOUS.png" | relative_url }}"></li>
                <li><a href="/">Back To Home</a></li>
            </ul>
        </div>
    </div>
</div>
